<main class="page">
  <div class="container container_parent">
    <article class="card card--phone">
      <section class="text-section">
        <div class="sensor"></div>
        <h2 class="text title">Samsung Galaxy S10</h2>
        <div class="data">
          <p class="procents" id="progress-phone">100%</p>
          <p class="text">Until next charge 1 d 21 h</p>
        </div>
      </section>
      <img class="img" src="http://10.1.1.28:3000/images?path=galaxys.png" alt="photo">
    </article>
    <div class="container container_big-parent--vertical">
      <div class="container container--small">
        <article class="card card--small card-applewatch">
            <section class="text-section">
                <div class="sensor"></div>
                <p class="procents prosecing--small" id="progress-watch">100%</p>
              </section>
              <img class="img" src="http://10.1.1.28:3000/images?path=applewatch.png" alt="photo">
        </article>
        <article class="card card--small card-airpoods">
            <section class="text-section">
                <div class="sensor"></div>
                  <p class="procents prosecing--small" id="progress-air">100%</p>
              </section>
              <img class="img" src="http://10.1.1.28:3000/images?path=airpods.png" alt="photo">
        </article>
      </div>
      <article class="card card--middle card-macbook">
          <section class="text-section">
              <div class="sensor"></div>
              <h2 class="text title">Samsung Galaxy S10</h2>
              <div class="data">
                <p class="procents processing--middle" id="progress-mac">100%</p>
                <p class="text">Until next charge 1 d 21 h</p>
              </div>
            </section>
            <img class="img" src="http://10.1.1.28:3000/images?path=macbook.png" alt="photo">
      </article>
    </div>
  </div>
  <div class="menu">
    <div class="onoffswitch">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
      <label class="onoffswitch-label" for="myonoffswitch"></label>
    </div>
    <button type="checkdox" class="btn-add">+</button>
    <p class="text"><span class="text title">ENG</span> &nbsp; <span>UA</span></p>
  </div>
</main>


